In [1]:
print("Hello World!")

Hello World!

In [2]:
a=10
b=4
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a//b)
print(a**b)

14
6
40
2
2
10000

In [3]:
a='*'*44
b='Department of Urban Planning and Engineering'
c='*'*44
print(a)
print(b)
print(c)

********************************************
Department of Urban Planning and Engineering
********************************************

In [4]:
print('1. C++\n2. Python\n3. Java\n4. IDL\n5. Perl')

1. C++
2. Python
3. Java
4. IDL
5. Perl

In [5]:
major='Department of Urban Planning'
print(major[14:])

Urban Planning

In [6]:
name="임민혁"
major="도시공학과"
introduction="나의 이름은 %s입니다. 제 전공은 %s입니다."%(name,major)
print(introduction)

나의 이름은 임민혁입니다. 제 전공은 도시공학과입니다.

In [7]:
course='코딩의.기초와.문제.해결'
course.replace('.',' ')

'코딩의 기초와 문제 해결'

In [14]:
list=['C++','Python','Java','IDL','Perl']
print(list)

['C++', 'Python', 'Java', 'IDL', 'Perl']

In [15]:
list.remove('Java')
list.append('JavaScript')
print(list)

['C++', 'Python', 'IDL', 'Perl', 'JavaScript']

In [16]:
list.insert(3,'Mojo')
print(list)

['C++', 'Python', 'IDL', 'Mojo', 'Perl', 'JavaScript']

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[1],a[3],a[5],a[7],a[9])

2 4 6 8 10

In [18]:
a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
dic={'이름':'임민혁','학번':'2229572','전공':'도시공학과'}
print(dic)

{'이름': '임민혁', '학번': '2229572', '전공': '도시공학과'}

In [20]:
dic.values()

dict_values(['임민혁', '2229572', '도시공학과'])

In [21]:
dic['생일']='030820'
print(dic)

{'이름': '임민혁', '학번': '2229572', '전공': '도시공학과', '생일': '030820'}

In [22]:
list={'포카칩':['2000원','재고 40개'],'오징어땅콩':['1500원','재고 30개'],'자갈치':['1800원','재고 35개'],'프링글스':['3000원','재고 20개']}
print(list)

{'포카칩': ['2000원', '재고 40개'], '오징어땅콩': ['1500원', '재고 30개'], '자갈치': ['1800원', '재고 35개'], '프링글스': ['3000원', '재고 20개']}

In [23]:
list['자갈치'][0]

'1800원'

In [24]:
money=5000
if money>=6000:
    print('택시를 타고 가라.')
else:
    print('걸어가라.')
#내가 가진 5000원을 money라는 변수에 적었고 6000원 이상의 돈을 가지고 있으면 택시를 타고 가라 였기 때문에 6000원이 있거나 그 이상이여서 '>='를 썼고
#만약 6000원보다 적은 돈이면 걸어가라는 조건을 만족시키기 위해 else 를 썼습니다.

걸어가라.

In [25]:
pocket=['money','cellphone','card']
if 'money' or 'card'in pocket:
    print('택시 타고 가라.')
else:
    print('걸어가라.')
# 만약 money 또는 card 였기때문에 or을 써줬고, pocket 이라는 변수 안에 있기때문에 in pocket을 썼습니다.
# money, card가 없을 수 도 있기 때문에 else '걸어가라' 를 입력 하였습니다.

택시 타고 가라.

In [2]:
ratio=int(input())
if 7<ratio<14:
    print('고령화 사회')
elif 14<ratio<20:
    print('고령 사회')
else:
    print('초고령 사회')
# 3가지 경우였기 때문에 첫번째 경우=if 7~14미만 이여서 7<ratio<14, 두번째 경우=elif 14~20미만 이여서 14<ratio<20, 
#마지막 어디에도 해당이 안되는 경우=else 를 사용하였습니다.

고령 사회

In [3]:
x=int(input())
y=int(input())
if x>0 and y>0:
    print('제 1사분면')
elif x>0 and y<0:
    print('제 4사분면')
elif x<0 and y>0:
    print('제 2사분면')
else:
    print('제 3사분면')
# 제 1 사분면으로 예를 들면 제 1사분면은 x, y 둘다 0보다 커야 하기 때문에 and를 사용 하였고 2사분면도 똑같이 x는 0보다 크고, y는 0보다 작아야만 성립하기
# 때문에 똑같이 and를 써주고 마지막 3사분면은 위 조건들 중에 아무 조건도 해당 되지 않을 시 출력을 하게 else를 썼습니다.

제 3사분면

In [4]:
a=1
total=0
while a<=10:
    total=total+a
    a=a+1
print(total)
# 1부터 더해야 해서 'a=1'이라는 변수를 썼고, a의 값이 +1 될때(a=a+1) 마다 total에 저장하고 a가 10이랑 같아질때(a<=10) total에 저장해둔 값이랑  
#+1되는 a까지 더해야 해서 'total=total+a'를 사용

55

In [5]:
height=100
bounce=7/10
i=0
while i<=10:
    i=i+1
    height=height*bounce
    print(height)
#높이, 땅에 닿는 횟수, 튀어오름 까지 변수로 적용후 i가 10이 될때까지 계속 반복 하기 때문에 두번째 값이 반복될 때 첫번째 값인 높이 70이 height자리에 들어가서
# 70*7/10이 되고 이 횟수가 i가 10이 될 때까지 반복합니다.

70.0
49.0
34.3
24.009999999999998
16.807
11.764899999999999
8.23543
5.764800999999999
4.035360699999999
2.8247524899999994
1.9773267429999994

In [6]:
a=[65,75,85,90,100,95,100,60,70,80]
total=0
for i in a:
    total=total+i
average=total/10
print(total,average)
#리스트에 숫자들을 계속 더해서 저장 해놓을 total이라는 변수 생성(total=total+i)
#마지막 값만 출력하고 싶기 때문에 average와 print를 for문에 입력하지 않았습니다.
#average는 다 더한 값에서 나누기 10

820 82.0

In [7]:
for year in range(1988,2031,4):
    print(year)
# 1988년부터 2030년까지이기 때문에 두번째에 2031까지 입력하였고, 4년마다 한번이기 때문에 숫자 간격은 4 여서 3번째 란에 4를 넣었습니다.

1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028

In [8]:
i=int(input())
for j in range(1,10):
    print(i*j)
#1부터 9까지 곱하고 싶기 때문에 숫자간격을 (1,10)으로 설정, 만약 i가 3이라면 1부터 3을 9까지 곱하기 때문에 구구단 3단이 됩니다.

3
6
9
12
15
18
21
24
27