# 과제4 - Queue

**문제 1. (난이도 下)**  
요세푸스 문제는 다음과 같다.  
1번부터 N번까지 N명의 사람이 원을 이루면서 앉아있고, 양의 정수 K(K ≤ N)가 주어진다. 이제 순서대로 K번째 사람을 제거한다. 한 사람이 제거되면 남은 사람들로 이루어진 원을 따라 이 과정을 계속해 나간다. 이 과정은 N명의 사람이 모두 제거될 때까지 계속된다. 원에서 사람들이 제거되는 순서를 (N, K)-요세푸스 순열이라고 한다. 예를 들어(7, 3)-요세푸스 순열은 <3, 6, 2, 7, 5, 1, 4>이다.

N과 K가 주어진다면 (N, K)-요세푸스 순열을 구하는 프로그램을 작성하시오.

  

**입력**
>첫째 줄에 N과 K가 빈 칸을 사이에 두고 순서대로 주어진다. (1≤K≤N≤1,000)

**출력**
>예제와 같이 요세푸스 순열을 출력한다.

  
---


*예제 입력1*
>7 3
  

*예제 출력1*
><3, 6, 2, 7, 5, 1, 4>

In [ ]:
#

# 과제 4 - Priority Queue
**문제 2. (난이도 中)**    
널리 잘 알려진 자료구조 중 최소 힙이 있다. 최소 힙을 이용하여 다음과 같은 연산을 지원하는 프로그램을 작성하시오.
1. 배열에 자연수 x를 넣는다.
2. 배열에서 가장 작은 값을 출력하고, 그 값을 배열에서 제거한다.  

프로그램은 처음에 비어있는 배열에서 시작하게 된다.

**입력**
>첫째 줄에 연산의 개수 N(1≤N≤100,000)이 주어진다. 다음 N개의 줄에는 연산에 대한 정보를 나타내는 정수 x가 주어진다. 만약 x가 자연수라면 배열에 x라는 값을 넣는(추가하는) 연산이고, x가 0이라면 배열에서 가장 작은 값을 출력하고 그 값을 배열에서 제거하는 경우이다. x는 2<sup>31</sup>보다 작은 자연수 또는 0이고, 음의 정수는 입력으로 주어지지 않는다.

**출력**
>입력에서 0이 주어진 횟수만큼 답을 출력한다. 만약 배열이 비어 있는 경우인데 가장 작은 값을 출력하라고 한 경우에는 0을 출력하면 된다.

  
---


*예제 입력1*
>9  
0  
12345678  
1  
2  
0  
0  
0  
0  
32
  

*예제 출력1*
>0  
1  
2  
12345678  
0

In [ ]:
# 여기에 코딩.

# 과제 4 - Stack
**문제 3. (난이도 上)**    
4개의 기호 '(', ')', '[', ']'를 이용해서 만들어진 괄호열 중에서 올바른 괄호열이란 다음과 같이 정의된다.
1. 한 쌍의 괄호로만 이루어진 '()'와 '[]'는 올바른 괄호열이다.
2. 만일 X가 올바른 괄호열이면 '(X)'이나 '[X]'도 모두 올바른 괄호열이 된다.
3. X와 Y 모두 올바른 괄호열이라면 이들을 결합한 XY도 올바른 괄호열이 된다.

'( ( ) [ [ ] ] )'나 '( ( ) ) [ ] [ ]'는 올바른 괄호열의 예시이지만, '( [ ) ]'나 '( ( ) ( ) [ ]'은 올바르지 않은 괄호열의 예시이다.  
어떤 올바른 괄호열 X에 대하여 그 괄호열의 값(괄호값)을 아래와 같이 정의하고 값(X)로 표시해보자.
1. '( )'인 괄호열의 값은 2이다.
2. '[ ]'인 괄호열의 값은 3이다.
3. '(X)'의 괄호값은 2 x 값(X)으로 계산된다.
4. '[X]'의 괄호값은 3 x 값(X)으로 계산된다.
5. 올바른 괄호열 X와 Y가 결합된 XY의 괄호값은 값(XY)=값(X) + 값(Y)로 계산된다.  

예를 들어 '( ( ) [ [ ] ] ) ( [ ] )'의 괄호값을 구해보자. '( ) [ [ ] ]'의 괄호값이 2 x 3 x 3 = 11이므로 '( ( ) [ [ ] ] )'의 괄호값은 2 x 11 = 22이다. 그리고 '( [ ] )'의 값은 2 x 3 = 6이므로 전체 괄호열의 값은 22 + 6 = 28이다.  

이때, 입력으로 주어진 괄호열의 괄호값을 구하라.

**입력**
>첫째 줄에 괄호열을 나타내는 문자열(스트링)이 주어진다. 단 그 길이는 1 이상, 30 이하이다.  
이때 입력은 빈칸 없이 '(', ')', '[', ']' 으로 구성된 문자열이다.

**출력**
>첫째 줄에 그 괄호열의 값을 나타내는 정수를 출력한다. 만일 입력이 올바르지 못한 괄호열이면 반드시 0을 출력한다.

  
---


*예제 입력1*
>( ( ) [ [ ] ] ) ( [ ] )

*예제 출력1*
>28  

*예제 입력2*
>[ ] [ ] ( ( ] )

*예제 출력2*
>0

In [ ]:
# 여기에 코딩.