In [1]:
import pandas as pd

file_df = pd.read_csv("C:/Users/darkr/OneDrive/Desktop/2학년1학기/확통/sample1.csv")

print(file_df)

    이름 성별  점수  출석
0  손선영  남  10  17
1  김영주  여  12  17
2  이희진  여  15  19
3  정지민  남   7  15
4  김윤미  여   9  14
5  고상준  남  15  20
6  박혜진  여  10  15
7  유인석  남  16  20
8  최나리  여   8  16
9  김웅기  남   5  10

In [4]:
import pandas as pd

file_df = pd.read_csv("C:/Users/darkr/OneDrive/Desktop/2학년1학기/확통/sample2.txt", encoding="UTF-8")

print(file_df)

    이름 성별  점수  출석
0  손선영  남  10  17
1  김영주  여  12  17
2  이희진  여  15  19
3  정지민  남   7  15
4  김윤미  여   9  14
5  고상준  남  15  20
6  박혜진  여  10  15
7  유인석  남  16  20
8  최나리  여   8  16
9  김웅기  남   5  10

In [5]:
import pandas as pd

file_df = pd.read_csv("C:/Users/darkr/OneDrive/Desktop/2학년1학기/확통/sample3.txt",sep='\t', encoding="UTF-8")

print(file_df)

    이름 성별  점수  출석
0  손선영  남  10  17
1  김영주  여  12  17
2  이희진  여  15  19
3  정지민  남   7  15
4  김윤미  여   9  14
5  고상준  남  15  20
6  박혜진  여  10  15
7  유인석  남  16  20
8  최나리  여   8  16
9  김웅기  남   5  10

In [6]:
import pandas as pd

file_df = pd.read_excel("C:/Users/darkr/OneDrive/Desktop/2학년1학기/확통/sample4.xlsx")

print(file_df)

    이름 성별  점수  출석
0  손선영  남  10  17
1  김영주  여  12  17
2  이희진  녀  15  19
3  정지민  남   7  15
4  김윤미  여   9  14
5  고상준  남  15  20
6  박혜진  여  10  15
7  유인석  남  16  20
8  최나리  여   8  16
9  김웅기  남   5  10

In [14]:
import numpy as np
a=np.zeros(3)
b=np.zeros([2,3])
c=np.tile(7,3)
d=np.array([[1,2,3,4,5],[6,7,8,9,10]])

print(a)
print(b)
print(c)
print(d[0,3])

[0. 0. 0.]
[[0. 0. 0.]
 [0. 0. 0.]]
[7 7 7]
4

In [9]:
import pandas as pd

df = pd.DataFrame({
    'col1' : [1,2,3,4,5],
    'col2' : [2,4,6,8,10],
    'col3' : ['A','B','C','D','E'] })

print(df.col2)
print(df.head(n=3))
print(df.query('index==0'))
print(df.query('col3=="B"'))
print(df.query('col3=="A" & col1==2'))
print(df.query('col3=="A" | col1==2'))
print(df.query('col3=="A"')[['col2','col3']])

0     2
1     4
2     6
3     8
4    10
Name: col2, dtype: int64
   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
   col1  col2 col3
0     1     2    A
   col1  col2 col3
1     2     4    B
Empty DataFrame
Columns: [col1, col2, col3]
Index: []
   col1  col2 col3
0     1     2    A
1     2     4    B
   col2 col3
0     2    A

In [10]:
import numpy as np

a = np.zeros(5, dtype=int)
print(a)

b = np.zeros((3,3),dtype=int)
print(b)

c = np.ones(5, dtype=float)
print(c)

[0 0 0 0 0]
[[0 0 0]
 [0 0 0]
 [0 0 0]]
[1. 1. 1. 1. 1.]

In [11]:
import numpy as np

a = np.tile(5,9)
print(a)

b = np.full(5,9)
print(b)

c = np.eye(3, dtype=int)
print(c)

[5 5 5 5 5 5 5 5 5]
[9 9 9 9 9]
[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [14]:
import numpy as np

a = np.arange(20)
print(a)

print(a.reshape(4,5))
print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [16]:
import pandas as pd

df1 = pd.DataFrame({
    'a' : [1,2,3],
    'b' : [4,5,6]
})
df2 = pd.DataFrame({
    'a' : [7,8,9],
    'b' : [10,11,12]
})

cc = pd.concat([df1, df2], axis = 0)
print(cc, '\n')

cc = pd.concat([df1, df2], axis = 1)
print(cc, '\n')

   a   b
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

   a  b  a   b
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [20]:
import pandas as pd

a = pd.DataFrame(
    [['A',1],['B',2],['c',3]],
     columns=['x1','x2']
     )
    
              
b = pd.DataFrame({
    'x1':['B','C','D'],
    'x3' :[2,3,4] 
})

print(a,'\n')
print(b,'\n')
print(pd.concat([a,b]),'\n')
print(pd.concat([a,b], axis=1), '\n')

  x1  x2
0  A   1
1  B   2
2  c   3

  x1  x3
0  B   2
1  C   3
2  D   4

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  c  3.0  NaN
0  B  NaN  2.0
1  C  NaN  3.0
2  D  NaN  4.0

  x1  x2 x1  x3
0  A   1  B   2
1  B   2  C   3
2  c   3  D   4

In [22]:
import numpy as np

a = [1,'A']

print(type(a[0]))
print(type(a[1]))
      
a = np.array(a)
print(type(a[0]))
print(type(a[1]))

<class 'int'>
<class 'str'>
<class 'numpy.str_'>
<class 'numpy.str_'>